#this file configures a pspec run
# run with mk_pspec.sh <this file>


export PREFIX="Dec04_FHDrun_nocov"
#chans=`python -c "print ' '.join(['%d_%d'%(i,i+39) for i in range(10,150,1)])"`
export pols='I'
export seps='-1,1 1,1 0,1'
#export seps='0,1'
export chans='110_149'
export RA="0:01_12:00"
export NBOOT=20
export GAIN=0.005

#DATAPATH=fringe_hor_v006
export SCRIPTSDIR=~/capo/pspec_pipeline
export cal="psa898_v003"
export PWD=`pwd`
export DATAPATH="${PWD}/zen.2455930.*P"

